/* La alfombra verde */
.solitaire-board {
    width: 100%;
    height: 100%;
    background-color: #008000;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

/*  Zona superior (Mazo y fundaciones */
.top-section{
    display: flex;
    justify-content: space-between;
    height: 110px; /* Altura para cartas */
    margin-bottom: 20px;
}

.deck-area, .foundation-area{
    display: flex;
    gap: 15px;
}

/* Zona inferior (Las 7 columnas) */
.tableau-area {
    display: flex;
    justify-content: space-around; /* Repartir espacio */
    flex-grow: 1;
    position: relative;
}

.tableau-col {
    width: 70px; /* Ancho de carta */
    position: relative; /* Para posicionar cartas absolute dentro */
}

/* --- La Carta --- */
.card {
    position: absolute;
    width: 71px;
    height: 96px;
    border-radius: 0;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
}

.card:hover {
    filter: brightness(1.1);
}

.card.red { color: red; }
.card.black { color: black; }

/* Carta boca abajo */
.card.back {
    background: repeating-linear-gradient(
        45deg,
        #1a5c96,
        #1a5c96 5px,
        #3d84c6 5px,
        #3d84c6 10px
    );
    border: 1px solid #fff;
    cursor: default;
}
/* Ocultar contenido si esta boca abajo */
.card.back .card-content { display: none; }

/* Iconos chicos en las esquinas */
.corner-top { align-self: flex-start; }
.corner-bottom { align-self: flex-end; transform: rotate(180deg); }

/* Placeholder (hueco vacio) */
.slot{
    width: 70px;
    height: 95px;
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 4px;
}