/* 
- APPS.CSS
- Estilos especificos para las aplicaciones internas (Notepad, etc)
*/

/* --- NOTEPAD --- */
.app-notepad {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--clr-silver);
}

.menubar{
    display: flex;
    gap: 10px;
    padding: 4px 8px;
    border-bottom: 1px solid var(--clr-gray);
}

.menu-item{
    cursor: pointer;
    padding: 2px 6px;
}

.menu-item:hover {
    background-color: var(--clr-blue-dark);
    color: var(--clr-white);
}

.notepad-area{
    flex-grow: 1;
    resize: none; 
    border: none;
    margin: 2px;

    /* Look Hundido (Inset) */
    border-top: 2px solid var(--border-inset-shadow);
    border-left: 2px solid var(--border-inset-shadow);
    border-right: 2px solid var(--border-inset-light);
    border-bottom: 2px solid var(--border-inset-light);

    font-family: var(--font-mono);
    font-size: 14px;
    padding: 5px;
    outline: none;
}