/* 
- APPS.CSS
- Estilos especificos para las aplicaciones internas (Notepad, etc)
*/

/* --- NOTEPAD --- */
.app-notepad {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--clr-silver);
}

.menubar{
    display: flex;
    gap: 10px;
    padding: 4px 8px;
    border-bottom: 1px solid var(--clr-gray);
}

.menu-item{
    cursor: pointer;
    padding: 2px 6px;
}

.menu-item:hover {
    background-color: var(--clr-blue-dark);
    color: var(--clr-white);
}

.notepad-area{
    flex-grow: 1;
    resize: none; 
    border: none;
    margin: 2px;

    /* Look Hundido (Inset) */
    border-top: 2px solid var(--border-inset-shadow);
    border-left: 2px solid var(--border-inset-shadow);
    border-right: 2px solid var(--border-inset-light);
    border-bottom: 2px solid var(--border-inset-light);

    font-family: var(--font-mono);
    font-size: 14px;
    padding: 5px;
    outline: none;
}


/* --- TERMINAL / COMMAND PROMPT --- */
.app-terminal {
    background-color: #000;
    color: #c0c0c0;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    padding: 5px;
    height: 100%;
    overflow-y: auto;
    display: block;
    cursor: text;
}

.app-terminal::-webkit-scrollbar {
    width: 16px;
}

.app-terminal::-webkit-scrollbar-track{
    background: #dfdfdf;
    border-left: 1px solid white;
}

.app-terminal::-webkit-scrollbar-thumb{
    background-color: #c0c0c0;
    border: 2px solid;
    border-color: #fff #808080 #808080 #fff;
}

.app-terminal::-webkit-scrollbar-button {
    background-color: #c0c0c0;
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-color: #fff #808080 #808080 #fff;
    display: block;
}

/*  Area de historial */
.terminal-output {
    white-space: pre-wrap;
    margin-bottom: 2px;
}

/* Input line */
.terminal-input-line {
    display: flex;
    align-items: center;
    width: 100%;
}

.terminal-prompt {
    color: #c0c0c0;
    margin-right: 2px;
    white-space: pre;
}

.terminal-input{
    background: transparent;
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    flex-grow: 1;
    outline: none;
    margin: 0;
    padding: 0;
}